<ul class="nav nav-list">
<li class="nav-header"><h4><i class="icon-folder-close icon-large"></i>Categories</h4></li>
{% for cat, null in categories %}
<li>
<a href="{{ SITEURL }}/{{ cat.url }}">
    <i class="icon-folder-open icon-large"></i>{{ cat }}
</a>
</li>
{% endfor %}

{% if 'tag_cloud' in PLUGINS %}
<li class="nav-header"><h4><i class="icon-tags icon-large"></i>Tags</h4></li>
{% for tag in tag_cloud %}
    <li class="sidebar-tag">
        <a href="{{ SITEURL }}/{{ tag.0.url }}">{{tag.0}} <span class="small-counter">{{ tag.2 }}</span></a>
    </li>
{% endfor %}
<li class="clearfix"></li>
{% endif %}

{% if DISQUS_SITENAME %}
<li class="dsq-widget-title nav-header">最近回复</li>
<li id="recentcomments" class="dsq-widget">
  <script type="text/javascript" src="http://{{ DISQUS_SITENAME }}.disqus.com/recent_comments_widget.js?num_items=4&amp;hide_avatars=0&amp;avatar_size=24&amp;excerpt_length=50"></script>
</li>
<li><small><a class="pull-right" href="http://disqus.com/">Powered by Disqus</a></small><span class="clearfix"></span></li>
{% endif %}

{% if LINKS %}
<li class="nav-header"><h4><i class="icon-external-link"></i>Friend Links</h4></li>
{% for name, link in LINKS %}
    <li><a href="{{ link }}">{{ name }}</a></li>
{% endfor %}
{% endif %}
{% if SOCIAL %}
<li class="nav-header"><h4><i class="icon-home icon-large"></i>Social</h4></li>
{% for name, link in SOCIAL %}
    <li><a href="{{ link }}"><i class="icon-{{ name }}-sign icon-large"></i>{{ name }}</a></li>
{% endfor %}
{% endif %}

{% if GITHUB_USERNAME %}
<li class="nav-header"><a href="http://github.com/{{GITHUB_USERNAME}}">My Github Repos</a></li>
<li>
  <ul id="github_repos">
    <li class="loading">Status updating&#8230;</li>
  </ul>
</li>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/github.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    github.showRepos({
      user: "{{GITHUB_USERNAME}}",
      count: 7,
      skip_forks: true,
      target: '#github_repos'
    });
  });
</script>
{% endif %}

{% include 'twitter_profile.html' %}
{% include 'shortmail.html' %}
{% include 'search_sidebar.html' %}

{% if SIDEBAR_CUSTOM %}
    {{ SIDEBAR_CUSTOM }}
{% endif %}
</ul>
