body {
background-color: #eee;
background-image: none;
padding-top: 60px;
padding-bottom: 40px;
}
.sidebar-nav {
padding: 9px 0;
margin-left: 15px;
}
.sidebar-nav>ul>li {
	line-height: 1.4;
}
.sidebar-tag {
	margin: auto 5px;
	float: left;
	display: block;
	overflow: hidden;
}
.sidebar-tag>a {
	margin: 0 2px;
	padding: 3px 3px;
}
.page-header {
	background-color: #f5f5f5;
	padding: 20px 20px 10px;
	margin: -18px auto 5px;
}

.logo {
	position: relative;
	overflow: hidden;
	margin: 8px auto 12px;
	height: 120px;
}
.logo>img {
	position: absolute;
	top: -100%;
	bottom: -100%;
	left: -100%;
	right: -100%;
	margin: auto;
}
body>.container {
	background-color: #fff;
}
#index-slogan {
	margin-left: 55px;
}
#index-line {
	border-bottom: 3px solid #EBEDED;
	margin: 5px -15px 5px 50px;
}
.article {
	border-bottom: 2px solid #EBEDED;
	overflow: hidden;
	margin: 5px 35px;
	line-height: 1.5;
}
.article-title {
	font-size: 18px;
	float: left;
	margin-left: 5px;
}
.index-post-info {
	font-size: 16px;
	margin-right: 20px;
	float: right;
}
.index-excerpt {
	font-size: 15px;
	margin-left: 15px;
}
.main-content {
	overflow: hidden;
}
.main-content img {
	max-width: 100%;
}
.main-article{
	margin: 0 20px 0 50px;
}
.post-info {
	margin: 10px 0 10px 10px;
	color: #888;
}
.pagination {
	margin-right: 35px;
}
a.external {
	background: url("/images/icons.gif") no-repeat scroll right -3px transparent;
	padding-right: 13px;
}
a.external:hover {background-position:right -18px;}
.small-counter {
	font-size:0.75em;
	color: #888;
}
.slider {
  display:inline;
  background: #cdf;
  border:2px;
  border-style: solid;
  border-color: #7cc;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.nav-toc-1,.nav-toc-2,.nav-toc-3 {
}
.nav-toc {
}
.nav-toc>li {
	margin-left: 15px;
}
.for-404 p {
    text-align:center;
    width: 400px;
    margin: 0 auto;
}
.dropdown-caret {
    position: absolute;
    right: 0;
    top: 0.5em;
    margin-top: 0px !important;
}


.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
  left: auto;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-indicators {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;
}

.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
  line-height: 20px;
  color: #ffffff;
}

.carousel-caption h4 {
  margin: 0 0 5px;
}

.carousel-caption p {
  margin-bottom: 0;
}