/* Slide styles */


.slider-notes{
  display: none;
  text-indent: 0em;
  position:absolute;
  background: #acf;
  border:3px;
  border-color: #6be;
  border-style: solid;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
span.slider-notes,backquote.slider-notes{
  display:inline;
  position:float;
}
em{
  color:red;
  font-style:normal;
}
.page-em em{
  color:#000;
  font-style:italic;
}
.def,.prop,.cor,.tip,.ex,.pf {
  display:block;
  text-indent: 2em;
  padding: 2px 10px;
  margin: 10px 10px;
  border: 3px;
  border-color: #cdf;
  border-style:solid;
  background: #ccf;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: left;
}
.prop {
  border-color: #bdf;
}
.pf {
  border-color: #bdf;
  background: #adf;
}
/*
li{
  text-indent: 0em;
}
*/
.cor {
  border-color: #bd5;
}
.space {
}
.tip{
  font-size:90%;
  background: #ccd;
  line-height:1em;
}
.ex{
  background: #cef;
  border-color: #bff!important;
  line-height:1.6em;
  border-style:solid;
}